<div class="navbar navbar-inverse navbar-fixed-top animated">
    <div class="container">
        <div class="navbar-header">
            <%= link_to "Sydney IT Jobs", "", class:"navbar-brand"%>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav_item">
                    <%= link_to "Our Mission", "" %>
                </li>
                <li class="nav_item">
                    <%= link_to "Contact", "" %>
                </li>
            </ul>
        <div class="nav_item_login">
            <%= link_to "Login", "", class:"btn btn-success"%>
        </div>
        </div>
    </div>
</div>